---
title: San Diego Mercedes-Benz
layout: default
---

{% include jumbotron.html %}

{% include main-content-wrapper.html %}

{% include call-to-action.html %}

{% include testimonials-carousel.html %}

  <div class="container-fluid about-container">
    <header class="masthead mb-auto p-2">
      <h3 class="display-3">Mercedes-Benz<br>Service &amp; Repair</h3>
      <hr class="style1" width="75%">
    </header>
    <!-- ADD DIV CLASS CONTAINER PADDING -->
		<p class="lead text-justify">South Bay Autohaus is the leading Independent Service &amp; Repair Facility for Mercedes Benz Vehicles in San Diego. We offer quality Sales, Parts, Service & Repair. We have been family owned for over 25 years and have serviced San Diego Mercedes Benz owners with a commitment to trust, integrity and honesty.</p>
    <p class="lead text-justify">Our Mercedes-Benz vehicle technicians are highly trained and skilled to perform all maintenance and service work. Our in-house parts department allows us to complete your Mercedes Benz service often the same day for your convenience.</p>
    <p class="lead text-justify">Our selection of Pre-Owned Mercedes Benz vehicles are of the highest quality in San Diego. Each vehicle is fully serviced and inspected prior to display on our showroom to meet the highest level of standards and excellence Mercedes Benz owners’ expect.</p>
    <p class="lead text-justify">If you are buying a new Mercedes Benz, contact us regarding our trade-in purchase program that will allow you to maximize the value of your previously owned Mercedes Benz.</p>
    <p class="lead text-justify">South Bay Autohaus is your Mercedes Benz solution in San Diego. Follow us on our social media channels and subscribe to our newsletter to stay connected to South Bay Autohaus promotions and news.</p>
  </div> 

 {% include newsletter.html %}

 {% include social-banner.html %}

 {% include blog-carousel.html %}

 {% include map.html %}