<div class="container-fluid banner-container">
	<div class="row justify-content-center">

		<div class="col-sm-4 mt-3">
      <p><i class="fas fa-mobile-alt"></i> Call Today!</p>
      <a href="tel:+16194226252"><h5 class="display-4">(619)422-6252</h5></a>
      <p>310 Trousdale Drive, Suite D.<br>Chula Vista, CA 91910</p>
    </div>

    <div class="col-sm-4 mt-3">
      <h1>South Bay Autohaus</h1>
      <p>Mercedes-Benz<br>Sales, Service, Parts &amp; Repair<br>Your Dealer Alternative</p>
    </div>

    <div class="col-sm-4 mt-3">
      <p>Independent San Diego<br>Mercedes-Benz Specialist<br>Celebrating Over 25 Years</p>
      <p><i class="far fa-clock"></i> Shop Hours<br>Monday - Friday: 7:30 AM - 5:30 PM</p>

      <div class="row justify-content-center mb-3">
        <div class="col">
          <i class="fab fa-facebook fa-2x"></i>
        </div>
        <div class="col">
          <i class="fab fa-yelp fa-2x"></i>
        </div>
        <div class="col">
          <i class="fab fa-instagram fa-2x"></i>
        </div>
      </div>
		</div>

	</div><!-- row -->
</div><!-- banner -->