<div class="container-fluid call-to-action">
  <div class="action-content">
    <header class="masthead mb-auto p-2">
      <h3 class="display-1 text-shadow-1">Why Chose Us?</h3>
      <hr class="style1" width="75%">
    </header>
    <div class="container">
      <div class="row">
        <div class="col">
          <i class="far fa-check-square fa-2x"></i>
          <p class="lead">Over 25 Years of Experience in San Diego's Mercedes-Benz Community</p>
        </div>
        <div class="col">
          <i class="fas fa-check fa-2x"></i>
          <p class="lead">Highly Trained &amp; Qualified Non-Commissioned Mercedes-Benz Technicians</p>
        </div>
        <div class="col">
          <i class="fas fa-check-double fa-2x"></i>
          <p class="lead">Trusted Commitment to Honesty &amp; Integrity</p>
        </div>
        </div>
      </div>
  </div>
</div>