<footer class="mastfoot mt-auto mb-0"> 
  <div class="container">
    <div class="row">

      <div class="col-sm-4 mt-3">
        <div class="row"> <!-- Nested Row -->
            <div class="col">
              <i class="fab fa-facebook fa-2x"></i>
            </div>
            <div class="col">
              <i class="fab fa-yelp fa-2x"></i>
            </div>
            <div class="col">
              <i class="fab fa-instagram fa-2x"></i>
            </div>
        </div>
      </div>

      <div class="col-sm-4 mt-3">
        <h1>South Bay Autohaus</h1>
        <p>310 Trousdale Lane, Suite D.</p>
        <p>Chula Vista, CA 91910</p>
      </div>

      <div class="col-sm-4 mt-3">
        <h1>Contact Us</h1>
        <p><i class="fas fa-mobile-alt"></i> (619) 422-6252</p>
        <p><i class="far fa-envelope"></i> Contact@autohaussouthbay.com</p>
      </div>  

    </div> <!-- Row -->
  <!--</div>

  <!--<div class="inner"> View Other Websites Handling Information
    <ul class="list-inline">
      <a href="{{ site.url }}"><li class="list-inline-item">Home</li></a>
      <a href="{{ site.url }}/schedule-request"><li class="list-inline-item">Schedule Online</li></a>
      <li class="list-inline-item">Pre-Owned</li>
      <a href="{{ site.url  }}/service"><li class="list-inline-item">Service</li></a>
      <a href="{{ site.url }}/repair"><li class="list-inline-item">Repair</li></a>
      <li class="list-inline-item">A &amp; B Service</li>
      <li class="list-inline-item">10,000 Mileage Service</li>
      <li class="list-inline-item">Factory Warranty</li>
      <a href="{{ site.url }}/mercedes_auto_parts"><li class="list-inline-item">Auto Parts</li></a>
      <a href="{{ site.url }}/testimonials"><li class="list-inline-item">Testimonials</li></a>
      <a href="{{ site.url }}/contact"><li class="list-inline-item">Contact</li></a>
      <a href="{{ site.url }}/directions"><li class="list-inline-item">Directions</li></a>
      <a href="{{ site.url }}/staff"><li class="list-inline-item">Staff</li></a>
      <a href="{{ site.url }}/social-media"><li class="list-inline-item">Social Media</li></a>
      <a href="{{ site.url }}/email-newsletter"><li class="list-inline-item">Newsletter</li></a>
      <a href="{{ site.url }}/blog"><li class="list-inline-item">Blog</li></a>
      <li class="list-inline-item">Community Work</li>
      <a href="{{ site.url }}/careers"><li class="list-inline-item">Careers</li></a>
    </ul>
  </div> -->

  <div class="row justify-content-center">
    <div class="col">
    <!--<ul class="list-inline">
      <a href="{{ site.url }}/privacy-policy"><li class="list-inline-item">Privacy Policy</li></a>
      <a href="{{ site.url }}/trademark"><li class="list-inline-item">Trademark</li></a>
    </ul> -->
  
      <p>Copyright &copy; 1994-<script>document.write(new Date().getFullYear());</script></p>
    </div> <!-- Rows Only Contain columns -->
  </div> <!-- Row -->
</div> <!-- Container -->

</footer>