<div class="main-content-wrapper container-fluid">
  <div class="main-content">
     <div class="row justify-content-center">
      <div class="col-4 pt-2 pb-2 action-box-1">
          <i class="fas fa-car fa-2x"></i>
          <p class="lead">Learn About Servicing Your Vehicle Under Factory Warranty</p>
          <a href="{{ site.url }}/blog/Understand-Your-Vehicle-Warranty/" class="btn btn-outline-danger mx-auto" role="botton">Learn More</a>
      </div>
      <div class="col-4 pt-2 pb-2 action-box-2">
          <i class="fas fa-user-friends fa-2x"></i>
          <p class="lead pt-2">Read What Our Customers Are Saying</p>
          <a href="{{ site.url }}/testimonials" class="btn btn-outline-danger mx-auto" role="botton">Customer Reviews</a>
      </div>
      <div class="col-4 pt-2 bt-2 action-box-3">
          <i class="fas fa-calendar-alt fa-2x"></i>
          <p class="lead pt-2">Schedule Your Mercedes-Benz Appointment Online</p>
          <a href="{{ site.url }}/schedule-request" class="btn btn-outline-danger mx-auto mb-3" role="botton">Schedule Now</a>
      </div>
    </div>
  </div><!-- main-content container -->
</div><!-- main-content-wrapper container -->