<div class="container-fluid newsletter">
  <header class="masthead mb-auto pt-2">
    <h3 class="display-3">Subscribe To Our Newsletter</h3>
    <hr class="style1" width="75%">
  </header>
  <form action="https://autohaussouthbay.us7.list-manage.com/subscribe/post?u=0e1dcf2b878f5d58ee0c76bdc&amp;id=3eb892c48e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row justify-content-center">
      <div class="col-sm-4">
        <input type="text" value="" name="EMAIL" class="form-control required class" placeholder="Email" id="mce-EMAIL">
      </div>
      <div class="col-sm-4">
        <input type="text" value="" name="FNAME" class="form-control required-class" placeholder="Name" id="mce-FNAME">
      </div>
    </div>    
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0e1dcf2b878f5d58ee0c76bdc_3eb892c48e" tabindex="-1" value=""></div>
      <div class="mt-3 alert alert-success" id="success" style="display:none">
        <p class="lead">Thank You For Subscribing!</p>
      </div>
      <input class="btn btn-primary btn-lg active m-3" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </form>
</div>
  
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
