<div class="social-banner container-fluid">
  <div class="row">
    <div class="col mt-3 mb-3">
      <i class="fab fa-google fa-3x"></i>
    </div>
    <div class="col mt-3 mb-3">
      <i class="fab fa-yelp fa-3x"></i>
    </div>
    <div class="col mt-3 mb-3">
      <i class="fab fa-facebook fa-3x"></i>
    </div>
    <div class="col mt-3 mb-3">
      <i class="fab fa-instagram fa-3x"></i>
    </div>
    <div class="col mt-3 mb-3">
      <i class="fab fa-linkedin-in fa-3x"></i>
    </div>
  </div>
</div>